.leaderboard {
  text-align: center;
  margin: 10px;
  background-color: azure;
  width: 40%;

  display: block;
  margin-left: auto;
  margin-right: auto
}

.player-rank {
  margin-right: 10px;
}

.player-name {
  margin-right: 10px;

}

.player-score {
  margin-right: 10px;
}

ol {
  list-style: none;
  padding: 0;

}